name: Build App

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/dagerler001/dockerexample:main

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build with Gradle
        run: ./gradlew build

